/*************   STYLE ADDITIONS   **********************
*********************************************************/

html, body {
    display: block;
    min-height: 100%;
}

body {
    /*padding: 50px;*/
    -webkit-font-smoothing: antialiased;
    line-height: 50px;
    font-weight: 600;
    background: rgb(250, 250, 250);
    margin: 0;
}

ul {
    padding: 0;
}

.main-body-wrapper {
    font-family: 'Raleway', arial;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    width: 80vw;
    display: block;
    margin: auto;
    background: rgb(255, 87, 34);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
}

.maxWidth {
    max-width: 1400px;
    /*  Adjust width of the example  - in this box as its a demo */
}

.white-text {
    color: white;
}

.left-adjusted-list {
    margin-left: 25px;
}

.titleCol {
    height: 450px;
    margin-left: 150px;
}

.title {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: center;
    background: rgb(255, 87, 34);
    align-content: center;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

/*************   MAIN STYLES   **********************
*********************************************************/

/*  ============  NAV BAR  =============  */

.navbar-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    background: #fafafa;
    width: 80vw;
    max-width: 1400px;
    z-index: 10;
    top: 0;
}

.navbar-main ul {
    display: flex;
    margin: 0;
    height: 50px;
    align-items: center;
    list-style: none;
}

.navbar-main li a {
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    color: rgb(191, 54, 12);
    background: #fafafa;
}

/*************   BURGER MENU   **********************
*********************************************************/

/*
Burger menu adapted from Vivek Kumar Bansal (https://codepen.io/vkbansal/pen/QbapGz)
*/

body.open {
    overflow: hidden;
}

body.open:before {
    visibility: visible;
    opacity: 1;
}

body:before {
    content: "";
    position: fixed;
    background-color: rgb(255, 87, 34);
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 60vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 11;
}

.burger {
    position: fixed;
    top: 20px;
}

.burger__button {
    display: flex;
    position: relative;
    background: rgb(0, 121, 107);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s ease;
    box-shadow: -20px 27px 55px 0px rgba(0, 0, 0, 0.5);
}

.burger__button.open {
    border: 2px solid #ffffff;
    box-shadow: none;
}

.burger__button__icon {
    display: inline-block;
    position: absolute;
    background: #fff;
    margin: 0 auto;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 0;
    right: 0;
}

.burger__button__icon:before, .burger__button__icon:after {
    content: "";
    position: absolute;
    margin: 0 auto;
    background: #fff;
    width: 20px;
    height: 2px;
    left: 0;
    right: 0;
}

.burger__button__icon:before {
    bottom: 10px;
}

.burger__button__icon:after {
    top: 10px;
}

.burger__button.open .burger__button__icon {
    background: transparent;
}

.burger__button.open .burger__button__icon:before, .burger__button.open .burger__button__icon:after {
    transform-origin: 0 50%;
    width: 28.28427125px;
}

.burger__button.open .burger__button__icon:before {
    transform: rotateZ(0.78539816rad);
}

.burger__button.open .burger__button__icon:after {
    transform: rotateZ(-0.78539816rad);
}

.burger__menu {
    list-style-type: none;
    width: 100%;
}

.burger__menu li {
    display: flex;
    flex-direction: column;
    position: relative;
    visibility: hidden;
    opacity: 0;
}

.burger__menu a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
    font-size: 4vmax;
    line-height: 8vmax;
    font-weight: 600;
    border-left: 3px solid transparent;
    padding-left: 0;
}

.burger__menu li a {
    background: rgb(255, 87, 34);
}

.burger__button.open+.burger__menu li {
    visibility: visible;
    opacity: 1;
}

#burgerOn {
    display: none;
}

nav#burgerOn.burger {
    z-index: 12;
    width: 100vw;
}

a#burger-button.burger__button {
    left: 81vw;
}

/*****************************************************/

/*****************************************************/


/*  ============  LAPTOP &  TITLE COLUMN  & CODE LINK =============  */

.lappyTitleWrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    width: 100%;
}

.lapy {
    position: absolute;
    z-index: 3;
    opacity: 1;
}

#lapytwister {
    transform: rotate(50deg);
    position: relative;
    top: 150px;
    right: 5%;
    z-index: 1;
}

.lapy img {
    height: 450px;
    width: 450px;
}

/*  ============  TITLE COLUMN  =============  */

h2 {
    line-height: 1.3em;
    font-size: 1.0em;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    padding: 0;
    margin: 0px;
}

.title-table {
    border: 0;
    width: 100%;
    padding-top: 40px;
}

.title-table-header {
    font-size: 1.3em;
    font-weight: bold;
}

.title-table-date {
    font-size: 1.3em;
    font-weight: bold;
    text-align: right;
}

.title-table-subheader {
    font-size: 1.3em;
}

.modules-title {
    font-size: 1.3em;
    font-weight: bold;
    width: 300px;
    vertical-align: top;
}

.modules-text {
    font-size: 1.3em;
    padding-bottom: 10px;
}

.aboutCol {
    align-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /*  Adjust height of the example */
    /*background: #138655; */
    color: #111;
    max-width: 100%;
    margin-top: 5vh;
    margin-bottom: 3vh;
    overflow: hidden;
}

.ab-col {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    line-height: 1.3em;
    font-size: 1.2em;
    font-weight: 400;
    text-align: justify;
    /* background: #555;*/
    max-width: 70%;
    /* width od 'Abot' inside its box, so 100% means whole of its box*/
}

.ab-col span {
    z-index: 3;
    padding-bottom: 50px;
}

.ab-col .about-title {
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.3em;
}

span.about-title {
    padding: 0px;
    padding-top: 20px;
}

/*  ============  SOCIAL BUTTONS  =============  */

.socialBox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    z-index: 7;
}

#linkedin_logo {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg viewBox='0 0 512 512' preserveAspectRatio='xMidYMid meet' width='512' height='512' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.596' y='-4.768' width='510.212' height='517.364' style='fill: rgb(255, 87, 34);'/%3E%3Cpath d='M 180.845 150.5 C 180.845 169.5 165.545 185 146.645 185 C 127.745 185 112.445 169.6 112.445 150.5 C 112.445 131.5 127.745 116 146.645 116 C 165.545 116 180.845 131.5 180.845 150.5 Z M 175.845 209.4 L 118.045 209.4 L 118.045 396.2 L 175.845 396.2 L 175.845 209.4 Z M 268.245 209.4 L 212.845 209.4 L 212.845 396.2 L 268.245 396.2 C 268.245 396.2 268.245 326.9 268.245 298.2 C 268.245 271.9 280.345 256.3 303.445 256.3 C 324.745 256.3 334.945 271.3 334.945 298.2 C 334.945 325.1 334.945 396.2 334.945 396.2 L 392.445 396.2 C 392.445 396.2 392.445 328 392.445 277.9 C 392.445 227.9 364.145 203.7 324.445 203.7 C 284.845 203.7 268.145 234.6 268.145 234.6 L 268.145 209.4 L 268.245 209.4 Z' style='fill: rgb(255, 253, 253);'/%3E%3C/svg%3E");
    background-size: cover;
}

#code_logo {
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20viewBox%3D%220%200%20300%20300%22%20height%3D%22300%22%20width%3D%22300%22%3E%3Cstyle%3E.s0%7Bfill%3Anone%3Bstroke-linejoin%3Around%3Bstroke-width%3A400%3Bstroke%3A%23fff%3B%7D%3C/style%3E%3Cdefs%3E%3CclipPath%20clipPathUnits%3D%22userSpaceOnUse%22%3E%3Crect%20height%3D%2247250%22%20width%3D%2228000%22%20y%3D%220%22%20x%3D%220%22/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%20transform%3D%22translate%280%2C-752.36216%29%22%3E%3Cg%20class%3D%22SlideGroup%22%20transform%3D%22matrix%280.01082455%2C0%2C0%2C0.01082455%2C-0.40548964%2C750.50799%29%22%3E%3Cg%20clip-path%3D%22url%28%23presentation_clip_path%29%22%20class%3D%22Slide%22%3E%3Cg%20class%3D%22Page%22%3E%3Cg%20class%3D%22Group%22%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M14000%2028050%200%2028050%200%2050l28000%200%200%2028000-14000%200z%22%20fill%3D%22%23ff5722%22/%3E%3C/g%3E%3Cg%20class%3D%22Group%22%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22m13683%2011768%200-6805%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22Group%22%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22M13682%2011768%205483%2017139%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22M13682%2022510%205483%2017139%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22M21882%2017139%2013683%2011768%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22m21882%2017139-8199%205371%22%20class%3D%22s0%22/%3E%3C/g%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22m21882%2017138%200-6805%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22Group%22%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22M13682%204973%205483%2010344%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22M13682%2015715%205483%2010344%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22M21882%2010344%2013683%204973%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22m21882%2010344-8199%205371%22%20class%3D%22s0%22/%3E%3C/g%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22m5464%2017179%200-6805%22%20class%3D%22s0%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.LineShape%22%3E%3Cpath%20d%3D%22m13683%2022590%200-6805%22%20class%3D%22s0%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
    background-size: cover;
}

#fcc_logo {
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20viewBox%3D%220%200%20300%20300%22%20height%3D%22300%22%20width%3D%22300%22%3E%3Cstyle%3E.s0%7Bfill%3A%23fff%3B%7D%3C/style%3E%3Cdefs%3E%3CclipPath%20clipPathUnits%3D%22userSpaceOnUse%22%3E%3Crect%20height%3D%2247250%22%20width%3D%2228000%22%20y%3D%220%22%20x%3D%220%22/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%20transform%3D%22translate%280%2C-752.36216%29%22%3E%3Cg%20class%3D%22SlideGroup%22%20transform%3D%22matrix%280.01084911%2C0%2C0%2C0.01084911%2C-1.2429751%2C750.62257%29%22%3E%3Cg%20clip-path%3D%22url%28%23presentation_clip_path%29%22%20class%3D%22Slide%22%3E%3Cg%20class%3D%22Page%22%3E%3Cg%20class%3D%22Group%22%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M14000%2028050%200%2028050%200%2050l28000%200%200%2028000-14000%200z%22%20fill%3D%22%23ff5722%22/%3E%3C/g%3E%3Cg%20class%3D%22Group%22%3E%3Cg%20class%3D%22com.sun.star.drawing.ClosedBezierShape%22%3E%3Cpath%20d%3D%22m12897%2018445c-69%20155-1154-465-1532-861-1120-1102-1413-2928-1155-4151%20259-1240%20328-1378%201275-2583%20947-1189%201034-2894%20551-3600-17-34-137-259-310-465-138-156-327-224-361-293-104-172%20551-258%20827-172%20430%20189%20825%20344%201652%201325%20810%201000%20311%20707%20397%201103%20103%20397%20207%201275%20207%201275%20103%20878%20240%201240%20378%201326%20121%2086%20431%20103%20586-103%20138-241%20155-603-52-1120-223-534-379-878%2035-637%20103%20120%20327%20276%20637%20689%20465%20568%20792%201309%20792%201326%200%200%20534%201085%20414%202687-121%201584-896%202704-1241%203083-344%20379-757%20620-895%20723-172%2087-327-103-276-241%2069-121%20500-637%20741-1033%20259-413%20310-724%20362-1223%2051-499-18-965-156-1292-154-344-465-844-602-792-138%2069%20120%20654%20120%20827%2017%20154%2017%20551-585%20551-603%2017-620-517-551-1189%200-34%2034-293%200-792-87-292-69-241-156-414-171-482-585-705-533-689%2069%2053-362-206-431-16-86%20172%20327%20534%20327%20534%200%200%200%20688%2052%20688%2052%200-586%20982-517%20982%2052%200-896%20861-861%20861%2018%200-310%20569-327%20965-52%20396%20172%201344%20172%201344%200%200%201068%201205%201016%201377z%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.ClosedBezierShape%22%3E%3Cpath%20d%3D%22m8796%2019772c9852%200%2010008%2034%2010008%2034l240%20328%20122%20396c0%200-122%20379-69%20379%2016%200-190%20172-190%20172l-259%2087c0%200-9886%2051-9921%2051-34%200-378-396-378-396%200%200-69-466-69-413%200%2034%20155-414%20155-414l361-224z%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
    background-size: cover;
}

#github_logo {
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20viewBox%3D%220%200%20300%20300%22%20height%3D%22300%22%20width%3D%22300%22%3E%3Cdefs%3E%3CclipPath%20clipPathUnits%3D%22userSpaceOnUse%22%3E%3Crect%20height%3D%2247250%22%20width%3D%2228000%22%20y%3D%220%22%20x%3D%220%22/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%20transform%3D%22translate%280%2C-752.36216%29%22%3E%3Cg%20class%3D%22SlideGroup%22%20transform%3D%22matrix%280.01078988%2C0%2C0%2C0.01078988%2C-0.38740575%2C751.4652%29%22%3E%3Cg%20clip-path%3D%22url%28%23presentation_clip_path%29%22%20class%3D%22Slide%22%3E%3Cg%20class%3D%22Page%22%3E%3Cg%20class%3D%22Group%22%3E%3Cg%20class%3D%22com.sun.star.drawing.CustomShape%22%3E%3Cpath%20d%3D%22M14000%2028050%200%2028050%200%2050l28000%200%200%2028000-14000%200z%22%20fill%3D%22%23ff5722%22/%3E%3C/g%3E%3Cg%20class%3D%22com.sun.star.drawing.ClosedBezierShape%22%3E%3Cpath%20d%3D%22m11858%2021080%2016-2275-367%20134-753%200-786-117-503-334-384-570-218-435-200-351-218-402-418-351-385-334%2050-118%20235-33%20401%200%20251%20134%20452%20285%20200%20301%20385%20552%20602%20435%20854%20100%20586-17%20351-201%20100-368%20184-284%20218-268%20334-234-301%200-770-101-484-83-452-134-653-268-486-317-451-435-234-285-301-736-117-268-101-669-50-535%2017-820%20184-620%20217-585%20168-368%20284-268%20134-167-117-418-67-585-17-653%20168-519%20183-368%20536%2017%20552%20134%20335%20134%20551%20301%20503%20317%20217%20185%20368-134%20452-51%20485-83%20653%200%20468%200%20820%2050%20435%2017%20418%2067%20168%2050%20636-435%20535-251%20468-184%20452-134%20519%200%20167%20301%2067%20352%20134%20435-17%20652-67%20402-134%20385%20234%20250%20318%20419%20218%20468%2083%20352%20101%20485%2066%20535%200%20502-83%20669-133%20519-168%20468-151%20334-368%20470-367%20301-436%20250-435%20218-502%20184-820%20168-485%2067-418%2066%20217%20134%20201%20168%20151%20234%20234%20334%20151%20619%2033%20703-33%201238%200%201322c0%200-1138%20435-2510%20435-1372%200-2560-486-2560-486z%22%20fill%3D%22%23fff%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
    background-size: cover;
}

.logo {
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    box-shadow: -20px 27px 55px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 50px;
}

.logo:hover {
    transform: scale(1.2);
    box-shadow: -64px 67px 85px 0px rgba(0, 0, 0, 0.75);
    background-position: center;
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #111;
    justify-content: center;
}

.logo>a>p {
    margin-top: 0;
    position: relative;
    top: 80px;
}

/*  Media Query min 1000px ****  /

/*  Two block statr side by side to become a colmn on wrap. 
The first block conatins another flex block containing 
the texts e.g. ' < CODE > 'This shanges on its parent block shrinking to<CODE>*/

/* This is possibly three span's */

/* code Wrapper  */

.orange-content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /*  Adjust height of the example */
    background: rgb(255, 87, 34);
    color: white;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
    z-index: 0;
}

.white-content-box {
    display: flex;
    flex-direction: column;
    height: auto;
    /*  Adjust height of the example */
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-top: 50px;
    z-index: 4;
}

.tagBox {
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    padding: 0;
    z-index: 1;
}

.codeTagBox {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    z-index: 1;
}

.tagBox:nth-child(1) {
    flex-basis: auto;
    font-size: 3em;
    /* This setting for media query for less than 650px*/
    font-weight: 500;
    letter-spacing: 0.5em;
    letter-spacing: 0.2em;
    /* This setting for media query for less than 650px*/
    text-align: left;
    width: 100%;
    /* Adjust to fit ' <CODE> ' in full width  */
    z-index: 1;
}

.bracket {
    color: rgb(255, 179, 0);
    z-index: 1;
}

.tagBox:nth-child(2) {
    flex-basis: 100px;
    /* controls the height of the box */
    flex-basis: auto;
    /* auto makes the box fit all the text exactly*/
    line-height: 1.3em;
    font-weight: 500;
    font-size: 1.3em;
    width: 100%;
    text-align: left;
    z-index: 1;
}

.cta {
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    line-height: 1em;
    margin-bottom: 50px;
}

.cta h3 {
    display: flex;
    justify-content: center;
    line-height: 1.em;
    font-size: 1em;
    font-weight: 600;
    flex-wrap: wrap;
}

.cta p {
    font-size: 1.2em;
    font-weight: 300;
}

.footer {
    background: rgb(191, 54, 12);
    color: white;
    z-index: 9;
}

.footerBottom {
    display: flex;
    flex-direction: column;
}

.footerLink .chevron {
    opacity: 0.2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4em;
    text-decoration: none;
    color: white;
    margin: auto;
    transition: all 0.3s;
}

.footerLink .chevron:hover {
    transform: scale(1.3);
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 4em;
    text-decoration: none;
    margin: auto;
    color: white;
}

@media screen and (max-width: 1200px) {
    #lapytwister {
        transform: rotate(45deg);
        height: 200px;
        width: 200px;
        z-index: 1;
    }
    .col {
        left: 5vw;
        z-index: 1;
    }
}

@media screen and (max-width: 1000px) {
    #burgerOn {
        display: block;
    }
    #navbarOn {
        display: none;
    }
    .main-body-wrapper {
        width: 100vw;
    }
    .navbar-main {
        width: 100vw;
    }
    #lapytwister {
        transform: rotate(45deg);
        height: 100px;
        width: 100px;
        z-index: 1;
    }
    .col {
        left: 15vw;
        z-index: 1;
    }
    span.about-title {
        padding: 0px;
        padding-top: 50px;
    }
}

@media screen and (max-width: 700px) {
    #burgerOn {
        display: block;
    }
    #navbarOn {
        display: none;
    }
    .main-body-wrapper {
        width: 100vw;
    }
    span.about-title {
        padding: 0px;
        padding-top: 80px;
    }
    .col {
        left: 90px;
        z-index: 1;
    }
}

@media screen and (max-width: 560px) {
    #burgerOn {
        display: block;
    }
    #navbarOn {
        display: none;
    }
    .main-body-wrapper {
        width: 100vw;
    }
    body {
        margin: 0;
        padding: 0;
    }
    #callToAction.cta {
        font-size: 14px;
        font-weight: 600;
    }
    .cta p {
        font-weight: 600;
    }
    .col {
        left: 30px;
        padding-top: 100px;
    }
    .col h1 {
        text-align: left;
    }
}

@media screen and (max-width: 480px) {
    #burgerOn {
        display: block;
    }
    #navbarOn {
        display: none;
    }
    .main-body-wrapper {
        width: 100vw;
    }
    .navbar-main {
        transform: translateY(100);
        width: 100vw;
        justify-content: center;
        z-index: 10;
    }
    .navbar-main ul {
        flex-direction: column;
        padding: 0;
        justify-content: space-between;
        height: 200px;
    }
    .navbar-main ul li {
        margin-left: 0em;
        margin-bottom: 10px;
    }
    body {
        margin: 0;
        padding: 0;
    }
    #callToAction.cta {
        font-size: 14px;
        font-weight: 600;
    }
    .cta p {
        font-weight: 600;
    }
    .ab-col span {
        text-align: left;
        font-size: 16px;
    }
    .titleCol {
        right: 0;
        left: 3%;
    }
    .col h1 {
        font-size: 1.3em;
    }
    .codeTagBox {
        margin: 0;
    }
    .tagBox.tagText {
        font-size: 1em;
        font-weight: 600;
    }
    .tagBox.tagTitle {
        width: 220px;
        font-size: 2em;
        top: 50px;
    }
    .codeWrapper {
        padding: 25px;
    }
    .appSize {
        min-width: 110px;
        min-height: 110px;
        margin: 15px;
    }
}

@media screen and (max-width: 400px) {
    .titleCol {
        position: relative;
        left: -60px;
    }
    .col {
        padding-top: 70px;
    }
    .col h1 {
        font-size: 1.3em;
    }
    .col h2 {
        font-size: 0.8em;
        font-weight: 600;
    }
}
